#bib {
    display: flex;
    height: 98vh;
    text-align: center;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    animation: fade_in 2000ms ease-in-out;
    background-color: rgba(0,0,0,0.6);
    /* background-image: url('../images/bibs/1.jpeg'); */
}

#bib_number:hover {
    text-shadow: 0px 0px 100px white;
}

body {
    background-size: cover;
}